@import '../../styles/style.scss';

.product-detail {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    .product-section {
      padding: $medium-spacing;
      background-color: $white-color;
      display: flex;
      .product-image {

        img {
          width: 680px;
          margin-right: $medium-spacing
        }
      }
  
      .product-info {
        flex-direction: column;

        .product-status {
          font-size: 14px;
          color: $medium-gray-color;
          margin-bottom: $small-spacing;
        }
  
        .product-title {
          font-size: 24px;
          color: $black-color;
          margin-bottom: $small-spacing;
        }
  
        .product-price {
          font-size: 46px;
          color: $black-color;
          font-weight: 400;
        }
  
        .buy-button {
            background-color: $blue-color;
            color: $white-color;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            width: 100%;
          }
      
        }
    }
  
    .product-description {
      padding: $medium-spacing;
      background-color: $white-color;
      
      h2 {
        font-size: 28px;
        color: $black-color;
      }
  
      p {
        font-size: 16px;
        color: $medium-gray-color;
        margin-top: 16px;
      }
    }
  }
  