$primary-color: #FFE600;
$black-color: #333333;
$medium-gray-color: #666666;
$gray-color: #999999;
$light-color: #EEEEEE;
$white-color: #ffffff;
$blue-color: #3483FA;
$small-spacing: 16px;
$medium-spacing: 32px;


body{
    background-color: $light-color;
    font-family: Arial, sans-serif;
}