@import '../../styles/style.scss';
.loader {
    border: 16px solid $gray-color; 
    border-top: 16px solid $blue-color; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 50px;
    display: flex;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }