@import '../../styles/style.scss'; 
 
 body {
    margin: 0;
  }
  
  .search-container {
    display: flex;
    background-color: $primary-color;
    justify-content: center;
    align-items: center;
    height: 60px
  }
  
 form{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
 }

 .logo {
    margin: 10px;
  }
  
  .search-input {
    padding: 10px 5px 10px 12px;
    border: 1px solid $light-color;
    border-radius: 6px 0 0 6px;
    color: $black-color;
    font-size: 18px;
    width: 100%;
  }
  
  .search-input::placeholder {
    color: $gray-color;
  }
  
  .search-button {
    background-color: $light-color;
    padding: 10px;
    border: 1px solid $light-color;
    border-radius: 0 6px 6px 0 ;
    cursor: pointer;
    font-size: 16px;
    height: 43px;
  }
  
  .search-icon {
    color: $gray-color;
    font-size: 18px;
  }