@import '../../styles/style.scss';

.item {
    background-color: white;
    display: flex;
    padding: 16px;
    position: relative;
    align-items: flex-start;
    color: $black-color;
    justify-content: space-between;
    border-bottom: 1px solid $light-color;
    width: 80%;
  }
  
  .item-data {
    display: flex;
  }
  
  .item-details {
    margin-left: 16px;
    margin-top: 10px;
    max-width: 80%;
  }
  .item-freeshiping-icon {
    margin-left: 10px;
  }
  
  .item-price {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 400;
    
  }
  .item-name {
    font-size: 18px;
    font-weight: 400;
  }
  
  .item-location {
    margin-top: 50px;
    margin-right: 30px;
    font-size: 12px;
    font-weight: 400;
  }
  
  .item-image {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin-right: 16px;
    img {
      width: 100%;
      height: 100%;
    }
  }